Built in functions with strings and lists

List is incorporated inside the square bracket.// It is mutable in nature. Use for business purposes in which the company dailing with multiples data each every year employees will increase, salary will increase in this situation we can use list in which we can upgrade later.

In [ ]:
a=['a','b','c','c']

In [ ]:
print(a)

['a', 'b', 'c', 'c']

In [ ]:
a="kayia"
print(a.upper())
print(a.lower())
print(a.capitalize())

KAYIA
kayia
Kayia

Find and replace

In [ ]:
Statement= "Hey, I am doing good, I am from Manipur, I am going to Bangalore next week and I am going to stay for  a weeks"
print(Statement.replace("I am","We are",1))

Hey, We are doing good, I am from Manipur, I am going to Bangalore next week and I am going to stay for  a weeks

Len: will tell the length of the words. (count the no. of elements / alphabets.

In [ ]:
a='Adaziia'
print(len(a))

7

Count : will count the frequency.(how many time the word has been repeat)

In [ ]:
a='Adaziia'
print(a.count('a'))

2

Append will add the one element toward the ending

In [ ]:
a=['USA','Russia','India','London']

In [ ]:
a.append('America')

In [ ]:
print(a)

['USA', 'Russia', 'India', 'London', 'America', 'America']

Insert will add an element in specific location by considering the index no.

In [ ]:
a=["London","UK","America"]
a.insert(2,'Dubai')
print(a)

['London', 'UK', 'Dubai', 'America']

Remove will remove the duplicate // the first occurance will be eliminated.

In [ ]:
a=["AI","ML","DL","Genetic AI","Statistics","AI"]
print(a)

['AI', 'ML', 'DL', 'Genetic AI', 'Statistics', 'AI']

In [ ]:
a.remove("AI")
print(a)

['ML', 'DL', 'Genetic AI', 'Statistics']

Pop will remove the elements of the index position if specify/ or the end of the element will remove.

In [ ]:
a.pop(2)
print(a)

['ML', 'DL', 'Statistics']

Extend will add more than one elements or multiples elements towards the end.

In [ ]:
a.extend(["Power BI","Excel"])

In [ ]:
print(a)

['ML', 'DL', 'Statistics', 'Power BI', 'Excel']

Numeric

In [ ]:
a=[1,4,6,7,9,8,5,]
print(max(a))
print(min(a))
print(sum(a))
print(len(a))
print(sum(a)/len(a))

9
1
40
7
5.714285714285714

In [ ]:
a=[3,4,7,8,5,4,3,9]
a.sort()
print(a)

[3, 3, 4, 4, 5, 7, 8, 9]
None

In [ ]:
b=a.sort(reverse=True)
print(a)

[9, 8, 7, 5, 4, 4, 3, 3]

Nested lists: list inside an  existing list

In [ ]:
L1=["India","USA",["China",10,25,11.8,-0.3]]

In [ ]:
L1[2][2]

25

In [ ]:
L1[2]

['China', 10, 25, 11.8, -0.3]

In [ ]:
L1[2][0:4]

['China', 10, 25, 11.8]

In [ ]:
C=["India","China"]

In [ ]:
B=["Australia"]

In [ ]:
print(C+B)

['India', 'China', 'Australia']

Tuples:incorporated inside the round bracket.. //built in functions which we use in strings and list can be use except we can't add/replace/delete because it is immutable in nature. This functions is use when you are dailing with crucial data for sensitive data/ vital important data which you don't want to change later.

In [ ]:
a=("aca","king","queen","heart",1,3,5)

In [ ]:
type(a)

tuple

In [ ]:
print(len(a))

7

In [ ]:
t=('India','USA','Russia','UK',4,5,7,-8,0.8)

In [ ]:
print(t)

('India', 'USA', 'Russia', 'UK', 4, 5, 7, -8, 0.8)

In [ ]:
type(t)

tuple

In [ ]:
t[3]

'UK'

In [ ]:
t[0:5]

('India', 'USA', 'Russia', 'UK', 4)

In [ ]:
my_t=(3,5,6,8,9,5,6,7,8)

In [ ]:
print(my_t)

(3, 5, 6, 8, 9, 5, 6, 7, 8)

In [ ]:
max(my_t)

9

In [ ]:
min(my_t)

3

In [ ]:
sum(my_t)/len(my_t) #average

6.333333333333333

Dictionary{} are incorporated inside the curly bracket with key value pair and it is mutable.

In [ ]:
d={'lays':30,'uncle chips':40,'bingo':35,'max':25,'kurkure':50}

In [ ]:
d.values()

dict_values([30, 40, 35, 25, 50])

In [ ]:
d.keys()

dict_keys(['lays', 'uncle chips', 'bingo', 'max', 'kurkure'])

In [ ]:
d['uncle chips'] #fetch

40

In [ ]:
d['lays']=50 #update

In [ ]:
print(d)

{'lays': 30, 'uncle chips': 40, 'bingo': 35, 'max': 25, 'kurkure': 50}

In [ ]:
type(d)

dict

In [ ]:
d['twinkle']=60 #add

In [ ]:
print(d)

{'lays': 30, 'uncle chips': 40, 'bingo': 35, 'max': 25, 'kurkure': 50, 'twinkle': 60}

In [ ]:
d.popitem() # will delete the last item d.clear will clear entire item

('twinkle', 60)

In [ ]:
print(d)

{'lays': 30, 'uncle chips': 40, 'bingo': 35, 'max': 25, 'kurkure': 50}

In [ ]:
del d['max'] #will delete the selected item

In [ ]:
print(d)

{'lays': 30, 'uncle chips': 40, 'bingo': 35, 'kurkure': 50}

- Create the dict with the following key value pair
- Add new key value pair to your dict called designation and associate with the value Software engineer
- Fetch the salary of Bob
- Modify the salary 30000 to 35000
- Delete the age

In [ ]:
D={'Name': 'Bob','Age':30,'Salary':30000,'City':'London'}

In [ ]:
print(D)

{'Name': 'Bob', 'Age': 30, 'Salary': 30000, 'City': 'London'}

In [ ]:
D['Designation']='Software Engineer'

In [ ]:
print(D)

{'Name': 'Bob', 'Age': 30, 'Salary': 30000, 'City': 'London', 'Designation': 'Software Engineer'}

In [ ]:
D['Salary']

30000

In [ ]:
D['Salary']=35000

In [ ]:
print(D)

{'Name': 'Bob', 'Age': 30, 'Salary': 35000, 'City': 'London', 'Designation': 'Software Engineer'}

In [ ]:
del D['Age']

In [ ]:
print(D)

{'Name': 'Bob', 'Salary': 35000, 'City': 'London', 'Designation': 'Software Engineer'}

SET {}: We use cruly bracket but there is no key value pair. We don't use much of set because they are unordered in nature.
- Set are not allow duplicate elements
- Indexing and Slicing is not supported (unordered in nature)
- Adding and deleting the elements is possible

In [ ]:
S={'India','Europe','Isreal','China','Punjab',3,0.9,-5}

In [ ]:
print(S)

{0.9, 3, 'Isreal', 'India', 'Europe', 'Punjab', 'China', -5}

In [ ]:
type(S)

set

In [ ]:
S.add(35)

In [ ]:
print(S)

{0.9, 3, 35, 'Isreal', 'India', 'Europe', 'Punjab', 'China', -5}

In [ ]:
S.discard('Isreal')# delete the content variable

In [ ]:
print(S)

{0.9, 3, 35, 'India', 'Europe', 'Punjab', 'China', -5}

BOOLEAN: True/ False value (conditional segment)/// Whole numbers either the +ve or -ve are TRUE(4,5,5.6,-0.3,-5) except 0 is false(0)

In [ ]:
a=10

In [ ]:
b=20

In [ ]:
print(a<b)

True

In [ ]:
type(a<b)

bool

A sort of practice

In [1]:
a=('China','India')

In [9]:
b=('UK','America')

In [10]:
print(a+b)

('China', 'India', 'UK', 'America')